# Verzeichnisse beim Merge ignorieren
.obsidian/** merge= filterPub
pdfs/** merge= filterPub
Skripte/** merge= filterPub
Stoff/** merge= filterPub
Vorlagen/** merge= filterPub

# Dateitypen beim Merge ignorieren
*.pdf merge= filterPub
*.code-workspace merge= filterPub

# Explizit erlaubte Dateien (überschreiben obige Regeln)
README.md -merge
liascript-style.css -merge
liascript-config.md -merge