# Verzeichnisse beim Merge ignorieren
.obsidian/** merge=filterpub
pdfs/** merge=filterpub
Skripte/** merge=filterpub
Stoff/** merge=filterpub
Vorlagen/** merge=filterpub

# Dateitypen beim Merge ignorieren
*.pdf merge=filterpub
*.code-workspace merge=filterpub

# Explizit erlaubte Dateien (überschreiben obige Regeln)
README.md -merge
liascript-style.css -merge
liascript-config.md -merge